$bg-color:#fff;
$primary-blue:#0B41CD;
$header-color:#0066CC;
$black:#000;
$white:#fff;
$placeholder:#9D948E;
$tab-btn:#706B69;
$tab-btn-active-bg:#F5F5F2;
$rst-td:#544F4F;
$active-bg:#BFE1D6;
$active-color:#116D3E;

$inactive-bg:#979797;
$inactive-color:#21201F;