._grid-1-line{
        display: grid;
        gap: rem(10) 0;
}


.d-flex-end{
        display: flex;
        justify-content: end;
        align-items: center;
}

/* for header */ 
.d-flex-space-btw{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 18px;
}


.d-flex-sub-btw{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;

        .f_l,.f_r{
                display: flex;
        }
}